@charset "UTF-8";
/*
 *  Yetix Colors
 *
 */
:root {
  /* —— colors */
  --yetix--color--transparent: transparent ;
  --yetix--color--white: #ffffff ;
  --yetix--color--grey: #f2f3f5 ;
  --yetix--color--gray: #5c5d5d ;
  --yetix--color--black: #141414 ;
  --yetix--color--green-button: #0db5ad ;
  --yetix--color--green-button--hover: #1cbfb8 ;
  --yetix--color--green-button--down: #08938c ;
  --yetix--color--orange: #f7a800;
  --yetix--color--blue: #9be3fb;
  --yetix--color--blue--hover: #2185d0 ;
  /* #2185d0 : orignal semantic toggle color */
  --yetix--color--duck-blue: #00596c;
  --yetix--color--dark-blue: #255e79;
  /* helper */
  --yetix--helper--color--grey: var( --yetix--color--grey ) ;
  --yetix--helper--color--green: #07b016 ;
  --yetix--helper--color--red: #a3173a ;
  --yetix--helper--color--orange: var( --yetix--color--orange );
  --yetix--helper--color--blue: var( --yetix--color--dark-blue );
  /* admin */
  --yetix--admin--page--background-color: var( --yetix--color--white ) ;
  --yetix--admin--page--background-color--rgb: 255, 255, 255 ;
  --yetix--admin--title--color: var( --yetix--color--orange ) ;
  --yetix--admin--button--background-color: var( --yetix--color--dark-blue ) ;
  --yetix--admin--button--background-color--hover: #307291;
  --yetix--admin--button--background-color--down: #1f4d63;
  --yetix--admin--header--background-color: var( --yetix--color--blue ) ;
  --yetix--admin--field-board--sortable-helper--background-color: var( --yetix--admin--page--background-color ) ;
  --yetix--admin--field-board--sortable-placeholder--background-color: #f4f4f4 ;
  /* sui = semantic-ui */
  --yetix--sui--table--head--background-color: var( --yetix--color--transparent ) ;
  --yetix--sui--table--body--background-color: var( --yetix--color--transparent ) ;
}

:root {
  /* yetix */
  --yetix--font--size--30: 30px ;
  --yetix--font--size--24: 24px ;
  --yetix--font--size--20: 20px ;
  --yetix--font--size--16: 16px ;
  --yetix--font--size--14: 14px ;
  --yetix--text--font--size: var( --yetix--font--size--16 ) ;
  --yetix--small-text--font--size: var( --yetix--font--size--14 ) ;
  /* heading */
  --yetix--h1--font--size: var( --yetix--font--size--30 );
  --yetix--h2--font--size: var( --yetix--font--size--20 );
  --yetix--h3--font--size: var( --yetix--text--font--size );
  --yetix--h4--font--size: var( --yetix--text--font--size );
  --yetix--h5--font--size: var( --yetix--text--font--size );
  --yetix--h6--font--size: var( --yetix--text--font--size );
  /* SUI : semantic-ui */
  --yetix--sui--font--size: var( --yetix--font--size--16 ) ;
  /* general */
  --yetix--sui--input--font--size: var( --yetix--font--size--14 ) ;
  /* input */
  --yetix--sui--button--font--size: var( --yetix--font--size--14 ) ;
  /* button */
  --yetix--sui--dropdown--font--size: var( --yetix--font--size--14 ) ;
  /* dropdown */
  --yetix--sui--toggle--font--size: var( --yetix--font--size--14 ) ;
  /* toggle */
}

@font-face {
  font-family: "Poppins";
  font-weight: normal;
  src: url("../fonts/Poppins/Poppins-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url("../fonts/Poppins/Poppins-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url("../fonts/Poppins/Poppins-Bold.otf") format("opentype");
}
.yetix--css-txt--center {
  text-align: center;
}
.yetix--css-d--block {
  display: block;
}
.yetix--css-has-bgcolor {
  display: inline-block;
  padding: 0.375em;
  border-radius: 0.375em;
  color: var(--yetix--color--black);
  background-color: var(--yetix--helper--color--grey);
}
.yetix--css-bgcolor--green {
  background-color: var(--yetix--helper--color--green) !important;
  color: var(--yetix--color--white) !important;
}
.yetix--css-bgcolor--orange {
  background-color: var(--yetix--helper--color--orange) !important;
  color: var(--yetix--color--white) !important;
}
.yetix--css-bgcolor--red {
  background-color: var(--yetix--helper--color--red) !important;
  color: var(--yetix--color--white) !important;
}
.yetix--css-bgcolor--blue {
  background-color: var(--yetix--helper--color--blue) !important;
  color: var(--yetix--color--white) !important;
}
.yetix--ticket-state--new {
  background-color: var(--yetix--helper--color--green) !important;
  color: var(--yetix--color--white) !important;
}
.yetix--ticket-state--open {
  background-color: var(--yetix--helper--color--red) !important;
  color: var(--yetix--color--white) !important;
}
.yetix--ticket-state--pending {
  background-color: var(--yetix--helper--color--blue) !important;
  color: var(--yetix--color--white) !important;
}
.yetix--ticket-state--solved {
  background-color: var(--yetix--helper--color--green) !important;
  color: var(--yetix--color--white) !important;
}
.yetix--ticket-state--incident {
  background-color: var(--yetix--helper--color--red) !important;
  color: var(--yetix--color--white) !important;
}
.yetix .form-wrap p, .yetix p.description {
  color: var(--yetix--color--duck-blue);
}
.yetix button:not(:hover):not(:active):not(.has-background),
.yetix .button:not(:hover):not(:active):not(.has-background),
.yetix button:not(:hover):not(:active):not(.has-background),
.yetix .ui.button, .yetix .button {
  text-decoration: none;
  text-shadow: none;
  border-color: var(--yetix--admin--button--background-color);
  color: var(--yetix--color--white);
  background: var(--yetix--admin--button--background-color);
  background-color: var(--yetix--admin--button--background-color);
}
.yetix button:not(:hover):not(:active):not(.has-background):hover, .yetix button:not(:hover):not(:active):not(.has-background).hover, .yetix button:not(:hover):not(:active):not(.has-background):focus, .yetix button:not(:hover):not(:active):not(.has-background).focus, .yetix button:not(:hover):not(:active):not(.has-background):active, .yetix button:not(:hover):not(:active):not(.has-background).active,
.yetix .button:not(:hover):not(:active):not(.has-background):hover,
.yetix .button:not(:hover):not(:active):not(.has-background).hover,
.yetix .button:not(:hover):not(:active):not(.has-background):focus,
.yetix .button:not(:hover):not(:active):not(.has-background).focus,
.yetix .button:not(:hover):not(:active):not(.has-background):active,
.yetix .button:not(:hover):not(:active):not(.has-background).active,
.yetix button:not(:hover):not(:active):not(.has-background):hover,
.yetix button:not(:hover):not(:active):not(.has-background).hover,
.yetix button:not(:hover):not(:active):not(.has-background):focus,
.yetix button:not(:hover):not(:active):not(.has-background).focus,
.yetix button:not(:hover):not(:active):not(.has-background):active,
.yetix button:not(:hover):not(:active):not(.has-background).active,
.yetix .ui.button:hover,
.yetix .ui.button.hover,
.yetix .ui.button:focus,
.yetix .ui.button.focus,
.yetix .ui.button:active,
.yetix .ui.button.active, .yetix .button:hover, .yetix .button.hover, .yetix .button:focus, .yetix .button.focus, .yetix .button:active, .yetix .button.active {
  background: var(--yetix--admin--button--background-color--hover);
  border-color: var(--yetix--admin--button--background-color--hover);
  color: var(--yetix--color--white);
}
.yetix button:not(:hover):not(:active):not(.has-background):focus, .yetix button:not(:hover):not(:active):not(.has-background).focus,
.yetix .button:not(:hover):not(:active):not(.has-background):focus,
.yetix .button:not(:hover):not(:active):not(.has-background).focus,
.yetix button:not(:hover):not(:active):not(.has-background):focus,
.yetix button:not(:hover):not(:active):not(.has-background).focus,
.yetix .ui.button:focus,
.yetix .ui.button.focus, .yetix .button:focus, .yetix .button.focus {
  box-shadow: 0 0 0 1px var(--yetix--color--white), 0 0 0 3px var(--yetix--admin--button--background-color--hover);
}
.yetix button:not(:hover):not(:active):not(.has-background):active, .yetix button:not(:hover):not(:active):not(.has-background).active,
.yetix .button:not(:hover):not(:active):not(.has-background):active,
.yetix .button:not(:hover):not(:active):not(.has-background).active,
.yetix button:not(:hover):not(:active):not(.has-background):active,
.yetix button:not(:hover):not(:active):not(.has-background).active,
.yetix .ui.button:active,
.yetix .ui.button.active, .yetix .button:active, .yetix .button.active {
  background: var(--yetix--admin--button--background-color--down);
  border-color: var(--yetix--admin--button--background-color--down);
}
.yetix .ui.button, .yetix .button {
  font-size: var(--yetix--small-text--font--size);
  font-weight: 500;
}

body.wp-admin {
  background-color: var(--yetix--admin--page--background-color);
}

.yetix_admin--has_header #wpbody {
  padding-top: 160px;
  transform: translateY(16px);
}
@media (max-width: 600px) {
  .yetix_admin--has_header #wpbody {
    padding-top: 186px;
  }
}
#wpbody .notice {
  margin-right: 34px;
  margin-left: 14px;
  max-width: 1140px;
  box-sizing: border-box;
}
@media (max-width: 782px) {
  #wpbody .notice {
    margin-left: 24px;
  }
}

#wpbody-content {
  box-sizing: border-box;
  padding-left: 34px;
  padding-right: 34px;
  width: 100%;
  width: calc(100% + 20px);
  /* min-width: calc( 100% + 20px ); */
  margin-left: -20px;
  padding-top: 20px;
  max-width: 1140px;
  max-width: 1210px;
  /* general */
  /* heading */
  /* _ */
  /* dropdown */
  /* input */
  /* checkbox */
  /* button */
  /* toggle */
  /* _ */
  /*
  by #id
  */
  /*
  by .class
  */
  /*
  Fields Board
  */
}
#wpbody-content * {
  box-sizing: border-box;
}
@media (max-width: 782px) {
  #wpbody-content {
    padding-left: 44px;
  }
}
#wpbody-content > .notice {
  margin-right: 0;
  margin-left: 0;
}
#wpbody-content, #wpbody-content textarea {
  font-size: var(--yetix--sui--font--size);
}
#wpbody-content h1, #wpbody-content h2, #wpbody-content h3, #wpbody-content h4, #wpbody-content h5 {
  margin: calc(var(--yetix--sui--font--size) * 2 - 0.1428571429em) 0 var(--yetix--sui--font--size);
}
#wpbody-content h1, #wpbody-content .h1-like {
  font-size: calc(2 * var(--yetix--sui--font--size));
}
#wpbody-content h2, #wpbody-content .h2-like {
  font-size: calc(1.71428571 * var(--yetix--sui--font--size));
}
#wpbody-content h3, #wpbody-content .h3-like {
  font-size: calc(1.28571429 * var(--yetix--sui--font--size));
}
#wpbody-content h4, #wpbody-content .h4-like {
  font-size: calc(1.07142857 * var(--yetix--sui--font--size));
}
#wpbody-content .ui.feed,
#wpbody-content .ui.form,
#wpbody-content .ui.progress {
  font-size: var(--yetix--sui--font--size);
}
#wpbody-content select, #wpbody-content option,
#wpbody-content .ui.form .field .dropdown,
#wpbody-content .ui.form .field .dropdown .menu > .item {
  font-size: var(--yetix--sui--dropdown--font--size);
}
#wpbody-content .ui.form input,
#wpbody-content .ui.form input:not([type]),
#wpbody-content .ui.form input[type=date],
#wpbody-content .ui.form input[type=datetime-local],
#wpbody-content .ui.form input[type=email],
#wpbody-content .ui.form input[type=file],
#wpbody-content .ui.form input[type=number],
#wpbody-content .ui.form input[type=password],
#wpbody-content .ui.form input[type=search],
#wpbody-content .ui.form input[type=tel],
#wpbody-content .ui.form input[type=text],
#wpbody-content .ui.form input[type=time],
#wpbody-content .ui.form input[type=url] {
  font-size: var(--yetix--sui--input--font--size);
  border-radius: 0.375em;
}
#wpbody-content .ui.form input:hover, #wpbody-content .ui.form input:focus, #wpbody-content .ui.form input:active,
#wpbody-content .ui.form input:not([type]):hover,
#wpbody-content .ui.form input:not([type]):focus,
#wpbody-content .ui.form input:not([type]):active,
#wpbody-content .ui.form input[type=date]:hover,
#wpbody-content .ui.form input[type=date]:focus,
#wpbody-content .ui.form input[type=date]:active,
#wpbody-content .ui.form input[type=datetime-local]:hover,
#wpbody-content .ui.form input[type=datetime-local]:focus,
#wpbody-content .ui.form input[type=datetime-local]:active,
#wpbody-content .ui.form input[type=email]:hover,
#wpbody-content .ui.form input[type=email]:focus,
#wpbody-content .ui.form input[type=email]:active,
#wpbody-content .ui.form input[type=file]:hover,
#wpbody-content .ui.form input[type=file]:focus,
#wpbody-content .ui.form input[type=file]:active,
#wpbody-content .ui.form input[type=number]:hover,
#wpbody-content .ui.form input[type=number]:focus,
#wpbody-content .ui.form input[type=number]:active,
#wpbody-content .ui.form input[type=password]:hover,
#wpbody-content .ui.form input[type=password]:focus,
#wpbody-content .ui.form input[type=password]:active,
#wpbody-content .ui.form input[type=search]:hover,
#wpbody-content .ui.form input[type=search]:focus,
#wpbody-content .ui.form input[type=search]:active,
#wpbody-content .ui.form input[type=tel]:hover,
#wpbody-content .ui.form input[type=tel]:focus,
#wpbody-content .ui.form input[type=tel]:active,
#wpbody-content .ui.form input[type=text]:hover,
#wpbody-content .ui.form input[type=text]:focus,
#wpbody-content .ui.form input[type=text]:active,
#wpbody-content .ui.form input[type=time]:hover,
#wpbody-content .ui.form input[type=time]:focus,
#wpbody-content .ui.form input[type=time]:active,
#wpbody-content .ui.form input[type=url]:hover,
#wpbody-content .ui.form input[type=url]:focus,
#wpbody-content .ui.form input[type=url]:active {
  /* border-color: var( --yetix--color--grey ); */
  border-color: #22242659;
}
#wpbody-content .ui.form input[type=checkbox] {
  display: inline-block;
  vertical-align: middle;
  top: 0;
  width: calc(1.5 * var(--yetix--sui--font--size));
  min-width: calc(1.5 * var(--yetix--sui--font--size));
  height: calc(1.5 * var(--yetix--sui--font--size));
  margin-right: calc(0.5 * var(--yetix--sui--font--size));
}
#wpbody-content .ui.form input[type=checkbox] + label {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}
#wpbody-content .ui.form input:not([type]):focus,
#wpbody-content .ui.form input[type=date]:focus,
#wpbody-content .ui.form input[type=datetime-local]:focus,
#wpbody-content .ui.form input[type=email]:focus,
#wpbody-content .ui.form input[type=file]:focus,
#wpbody-content .ui.form input[type=number]:focus,
#wpbody-content .ui.form input[type=password]:focus,
#wpbody-content .ui.form input[type=search]:focus,
#wpbody-content .ui.form input[type=tel]:focus,
#wpbody-content .ui.form input[type=text]:focus,
#wpbody-content .ui.form input[type=time]:focus,
#wpbody-content .ui.form input[type=url]:focus {
  border-radius: 0.375em;
}
#wpbody-content .ui.action.input > .button:last-child,
#wpbody-content .ui.action.input > .buttons:last-child > .button,
#wpbody-content .ui.action.input > .dropdown:last-child {
  border-radius: 0 0.375em 0.375em 0;
}
#wpbody-content button,
#wpbody-content .ui.button,
#wpbody-content .ui.buttons .button,
#wpbody-content .ui.buttons .or {
  font-size: var(--yetix--sui--button--font--size);
  border-radius: 0.375em;
}
#wpbody-content .ui.buttons .button {
  border-radius: 0;
}
#wpbody-content .ui.toggle.checkbox input,
#wpbody-content .ui.toggle.checkbox label::before {
  width: calc(3.5 * var(--yetix--sui--toggle--font--size));
  height: calc(1.5 * var(--yetix--sui--toggle--font--size));
}
#wpbody-content .ui.toggle.checkbox input ~ label::after {
  left: calc(-0.05 * var(--yetix--sui--toggle--font--size));
}
#wpbody-content .ui.toggle.checkbox input:checked ~ label::after {
  left: 2.15rem;
  left: calc(2.15 * var(--yetix--sui--toggle--font--size));
}
#wpbody-content .ui.toggle.checkbox label {
  min-height: calc(1.5 * var(--yetix--sui--toggle--font--size));
  padding-left: calc(4.5 * var(--yetix--sui--toggle--font--size));
}
#wpbody-content .ui.toggle.checkbox label::after {
  width: calc(1.5 * var(--yetix--sui--toggle--font--size));
  height: calc(1.5 * var(--yetix--sui--toggle--font--size));
}
#wpbody-content .form-table * {
  line-height: 1.7em;
}
#wpbody-content .form-table th,
#wpbody-content .label {
  font-weight: 500;
}
#wpbody-content .ui.table .ui.accordion .title.active, #wpbody-content .ui.table .ui.accordion .content.active {
  background-color: transparent;
}
#wpbody-content .ui.table .ui.accordion .content > td {
  border-top: none !important;
}
#wpbody-content .ui.checkbox input:checked ~ label::before {
  background-color: var(--yetix--color--dark-blue) !important;
}
#wpbody-content .yetix_request__admin_header {
  position: absolute;
  margin: auto;
  width: auto;
  height: 156px;
  top: -16px;
  left: -20px;
  right: 0px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 0 15px;
  background-color: var(--yetix--admin--header--background-color);
  border-bottom: 10px solid var(--yetix--color--duck-blue);
}
@media (max-width: 600px) {
  #wpbody-content .yetix_request__admin_header {
    top: 30px;
    left: -10px;
  }
}
#wpbody-content .yetix_request__admin_header__brand {
  display: flex;
  align-items: flex-end;
  padding-right: 15px;
}
#wpbody-content .yetix_request__admin_header__support {
  align-self: center;
  text-align: right;
  padding-left: 15px;
}
#wpbody-content .yetix_request__admin_header__support a {
  font-size: var(--yetix--text--font--size);
  color: var(--yetix--color--duck-blue);
}
#wpbody-content .yetix_request__admin_header__support a:focus, #wpbody-content .yetix_request__admin_header__support a:hover, #wpbody-content .yetix_request__admin_header__support a:active {
  text-decoration: none;
}
#wpbody-content .yetix_request__admin_header__logo_canvas {
  width: 194px;
  height: 118px;
  overflow: hidden;
}
#wpbody-content .yetix_request__admin_header__logo_canvas img {
  display: block;
  width: 100%;
  height: auto;
}
#wpbody-content .yetix {
  /*
  copy
  */
}
#wpbody-content .yetix.yetix {
  font-family: "Poppins";
  font-weight: 400;
  color: --yetix--color--duck-blue;
}
#wpbody-content .yetix strong, #wpbody-content .yetix b {
  font-weight: 500;
}
#wpbody-content .yetix p, #wpbody-content .yetix p.description {
  color: var(--yetix--color--duck-blue);
}
#wpbody-content .yetix a {
  color: var(--yetix--color--duck-blue);
  text-decoration: underline;
}
#wpbody-content .yetix a:hover, #wpbody-content .yetix a:focus, #wpbody-content .yetix a:active {
  text-decoration: none;
}
#wpbody-content .yetix h1 {
  color: var(--yetix--admin--title--color);
  font-weight: 600;
}
#wpbody-content .yetix h2 {
  margin-top: 30px;
  font-size: var(--yetix--h2--font--size);
  color: var(--yetix--color--duck-blue);
  font-weight: 500;
}
#wpbody-content .yetix h3 {
  font-size: var(--yetix--h3--font--size);
  color: var(--yetix--color--duck-blue);
  font-weight: 400;
}
#wpbody-content .yetix h4 {
  font-size: var(--yetix--h4--font--size);
  color: var(--yetix--color--duck-blue);
  font-weight: 400;
}
#wpbody-content .yetix h5 {
  font-size: var(--yetix--h5--font--size);
  color: var(--yetix--color--duck-blue);
  font-weight: 400;
}
#wpbody-content .yetix h6 {
  font-size: var(--yetix--h6--font--size);
  color: var(--yetix--color--duck-blue);
  font-weight: 400;
}
#wpbody-content .yetix #yetix_request__general_settings_form .label {
  background-color: var(--yetix--color--transparent);
  color: var(--yetix--color--duck-blue);
}
#wpbody-content .yetix #yetix_request__general_settings_form #yetix_request__settings_zendesk_domain {
  border: 1px solid rgba(34, 36, 38, 0.15) !important;
  border-radius: 0.28571429rem !important;
}
#wpbody-content .yetix #yetix_request__general_settings_users_form .label {
  background-color: var(--yetix--color--transparent);
  color: var(--yetix--color--duck-blue);
}
#wpbody-content .yetix #yetix_request__users_table {
  margin-top: 2.5em;
}
@media screen and (max-width: 781px) {
  #wpbody-content .yetix #yetix_request__users_table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  #wpbody-content .yetix #yetix_request__users_table tr {
    display: block;
    background-color: var(--yetix--color--white);
    margin-bottom: 2em;
    border: none !important;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2) !important;
  }
  #wpbody-content .yetix #yetix_request__users_table td {
    display: block;
    border: none !important;
    text-align: right !important;
    padding: 0.78571429em 0.78571429em;
  }
  #wpbody-content .yetix #yetix_request__users_table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: 600;
  }
}
#wpbody-content #yetix_request__general_settings_form .form-table td {
  padding-right: 0;
}
#wpbody-content #yetix_request__settings_form {
  /* loading */
}
#wpbody-content #yetix_request__settings_form.ui.form.loading::before {
  background: var(--yetix--admin--page--background-color);
  background-color: rgba(var(--yetix--admin--page--background-color--rgb), 0.7);
}
#wpbody-content #yetix_request__ticket_fields_settings {
  padding-bottom: 70px;
}
#wpbody-content #yetix_request__settings_zendesk_domain {
  width: 100%;
  max-width: calc(100% - 200px);
}
#wpbody-content #yetix_request__status .ui.message {
  display: block;
  padding: 15px;
}
#wpbody-content #yetix_request__status .form-table {
  width: auto;
}
#wpbody-content #yetix_request__status .form-table th, #wpbody-content #yetix_request__status .form-table td {
  padding: 0;
}
#wpbody-content .yetix_request__settings_zendesk_domain-wrapper {
  width: 100%;
}
#wpbody-content .yetix_request__settings_field_board {
  /* table widths */
  /* sortable fields */
}
#wpbody-content .yetix_request__settings_field_board .title {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  #wpbody-content .yetix_request__settings_field_board .title {
    flex-wrap: wrap;
  }
}
#wpbody-content .yetix_request__settings_field_board .content > td {
  padding: 0 0.78571429em 0.78571429em 0.78571429em;
  padding: 0 0.78571429em 1.57142858em 0.78571429em;
}
#wpbody-content .yetix_request__settings_field_board .content .field {
  margin-bottom: 0;
}
#wpbody-content .yetix_request__settings_field_board .content .field + .field {
  margin-top: 16px;
}
#wpbody-content .yetix_request__settings_field_board .field-name-clicker {
  position: relative;
  line-height: 2em;
  border-radius: 4px;
  /* flex-grow: 1; */
  width: 100%;
  transition: all 300ms;
}
#wpbody-content .yetix_request__settings_field_board .field-name-clicker:hover, #wpbody-content .yetix_request__settings_field_board .field-name-clicker:focus, #wpbody-content .yetix_request__settings_field_board .field-name-clicker:active, #wpbody-content .yetix_request__settings_field_board .field-name-clicker.active {
  color: var(--yetix--color--orange);
  /*
  background-color: rgba(255,255,255,0.5);
  box-shadow: inset 0 0 4px white;
  */
}
#wpbody-content .yetix_request__settings_field_board .field-name-clicker .lock.icon {
  position: absolute;
  right: 8px;
  margin: auto;
  bottom: 0;
  top: 0;
}
#wpbody-content .yetix_request__settings_field_board [class*=th-],
#wpbody-content .yetix_request__settings_field_board [class*=td-field-] {
  padding: 0.78571429em 0.78571429em !important;
  align-items: center;
}
#wpbody-content .yetix_request__settings_field_board .td-field-name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  padding-right: 0 !important;
  padding-left: 0 !important;
}
#wpbody-content .yetix_request__settings_field_board .th-name {
  padding-left: 3.05em !important;
}
@media (max-width: 767px) {
  #wpbody-content .yetix_request__settings_field_board thead {
    display: none !important;
  }
}
#wpbody-content .yetix_request__settings_field_board thead > tr {
  display: flex;
}
#wpbody-content .yetix_request__settings_field_board tbody {
  position: relative;
}
#wpbody-content .yetix_request__settings_field_board .the-field {
  width: 100%;
  visibility: visible !important;
}
#wpbody-content .yetix_request__settings_field_board .the-field > td {
  display: block;
}
#wpbody-content .yetix_request__settings_field_board .the-field label {
  font-weight: 500;
}
#wpbody-content .yetix_request__settings_field_board .the-field.ready-for-drag .content {
  display: none;
}
#wpbody-content .yetix_request__settings_field_board .accordion > tr > td {
  padding: 0;
}
#wpbody-content .yetix_request__settings_field_board .accordion > tr > td > .title {
  padding: 0;
  margin: 0;
}
#wpbody-content .yetix_request__settings_field_board .accordion > tr > td > .content {
  padding: 0.78571429em 0.78571429em !important;
  padding-top: 0;
}
#wpbody-content .yetix_request__settings_field_board .accordion th {
  display: block;
}
#wpbody-content .yetix_request__settings_field_board .th-name, #wpbody-content .yetix_request__settings_field_board .td-field-name {
  flex-grow: 1;
}
#wpbody-content .yetix_request__settings_field_board .th-type, #wpbody-content .yetix_request__settings_field_board .td-field-type {
  width: 150px;
}
#wpbody-content .yetix_request__settings_field_board .th-format, #wpbody-content .yetix_request__settings_field_board .td-field-format {
  width: 170px;
}
#wpbody-content .yetix_request__settings_field_board .th-display, #wpbody-content .yetix_request__settings_field_board .td-field-display {
  width: 110px;
}
#wpbody-content .yetix_request__settings_field_board .th-required, #wpbody-content .yetix_request__settings_field_board .td-field-required {
  width: 110px;
}
#wpbody-content .yetix_request__settings_field_board .field-name-type {
  min-width: 120px;
}
@media (max-width: 767px) {
  #wpbody-content .yetix_request__settings_field_board .td-field-name {
    width: 100% !important;
  }
}
#wpbody-content .yetix_request__settings_field_board .td-field-name > .icon.handle {
  opacity: 0.5;
  cursor: move;
  height: 2.1em;
  margin-right: 0;
  padding: 0 0.5em;
  width: auto;
}
#wpbody-content .yetix_request__settings_field_board .td-field-name > .icon.handle:before {
  display: inline;
  line-height: 2em;
}
#wpbody-content .yetix_request__settings_field_board .the-field.ui-sortable-helper {
  background-color: var(--yetix--admin--field-board--sortable-helper--background-color);
}
#wpbody-content .yetix_request__settings_field_board .the-field.ui-sortable-helper td {
  opacity: 0.3;
}
#wpbody-content .yetix_request__settings_field_board .the-field.ui-sortable-placeholder {
  visibility: visible !important;
}
#wpbody-content .yetix_request__settings_field_board .the-field.ui-sortable-placeholder td {
  background-color: var(--yetix--admin--field-board--sortable-placeholder--background-color);
}

/*
 *  Admin Footer
 *
 */
#wpfooter {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 15px;
  padding-left: 34px;
  padding-right: 34px;
  max-width: 1140px;
}
@media (max-width: 782px) {
  #wpfooter {
    margin-left: 0 !important;
  }
}
#wpfooter .clear {
  display: none;
}
#wpfooter a:link, #wpfooter a:visited, #wpfooter a:hover, #wpfooter a:focus, #wpfooter a:active {
  color: var(--yetix--color--orange);
}

#footer-left {
  padding-right: 20px;
}

.yetix_request__admin-footer-upgrade {
  display: inline-block;
  text-align: right;
}
.yetix_request__admin-footer-upgrade img {
  display: block;
  margin-bottom: 8px;
}
.yetix_request__admin-footer-upgrade span {
  display: block;
}
/*# sourceMappingURL=style-admin.css.map */
