@charset "UTF-8";
/*
 *
 *
 *
 *
 */
/*

.yetix{
  display:block;
}

.yetix-progress{
  display: none;
}

*/
/*
 *  Yetix Colors
 *
 */
:root {
  /* —— colors */
  --yetix--color--transparent: transparent ;
  --yetix--color--white: #ffffff ;
  --yetix--color--grey: #f2f3f5 ;
  --yetix--color--gray: #5c5d5d ;
  --yetix--color--black: #141414 ;
  --yetix--color--green-button: #0db5ad ;
  --yetix--color--green-button--hover: #1cbfb8 ;
  --yetix--color--green-button--down: #08938c ;
  --yetix--color--orange: #f7a800;
  --yetix--color--blue: #9be3fb;
  --yetix--color--blue--hover: #2185d0 ;
  /* #2185d0 : orignal semantic toggle color */
  --yetix--color--duck-blue: #00596c;
  --yetix--color--dark-blue: #255e79;
  /* helper */
  --yetix--helper--color--grey: var( --yetix--color--grey ) ;
  --yetix--helper--color--green: #07b016 ;
  --yetix--helper--color--red: #a3173a ;
  --yetix--helper--color--orange: var( --yetix--color--orange );
  --yetix--helper--color--blue: var( --yetix--color--dark-blue );
  /* admin */
  --yetix--admin--page--background-color: var( --yetix--color--white ) ;
  --yetix--admin--page--background-color--rgb: 255, 255, 255 ;
  --yetix--admin--title--color: var( --yetix--color--orange ) ;
  --yetix--admin--button--background-color: var( --yetix--color--dark-blue ) ;
  --yetix--admin--button--background-color--hover: #307291;
  --yetix--admin--button--background-color--down: #1f4d63;
  --yetix--admin--header--background-color: var( --yetix--color--blue ) ;
  --yetix--admin--field-board--sortable-helper--background-color: var( --yetix--admin--page--background-color ) ;
  --yetix--admin--field-board--sortable-placeholder--background-color: #f4f4f4 ;
  /* sui = semantic-ui */
  --yetix--sui--table--head--background-color: var( --yetix--color--transparent ) ;
  --yetix--sui--table--body--background-color: var( --yetix--color--transparent ) ;
}

:root {
  /* yetix */
  --yetix--font--size--30: 30px ;
  --yetix--font--size--24: 24px ;
  --yetix--font--size--20: 20px ;
  --yetix--font--size--16: 16px ;
  --yetix--font--size--14: 14px ;
  --yetix--text--font--size: var( --yetix--font--size--16 ) ;
  --yetix--small-text--font--size: var( --yetix--font--size--14 ) ;
  /* heading */
  --yetix--h1--font--size: var( --yetix--font--size--30 );
  --yetix--h2--font--size: var( --yetix--font--size--20 );
  --yetix--h3--font--size: var( --yetix--text--font--size );
  --yetix--h4--font--size: var( --yetix--text--font--size );
  --yetix--h5--font--size: var( --yetix--text--font--size );
  --yetix--h6--font--size: var( --yetix--text--font--size );
  /* SUI : semantic-ui */
  --yetix--sui--font--size: var( --yetix--font--size--16 ) ;
  /* general */
  --yetix--sui--input--font--size: var( --yetix--font--size--14 ) ;
  /* input */
  --yetix--sui--button--font--size: var( --yetix--font--size--14 ) ;
  /* button */
  --yetix--sui--dropdown--font--size: var( --yetix--font--size--14 ) ;
  /* dropdown */
  --yetix--sui--toggle--font--size: var( --yetix--font--size--14 ) ;
  /* toggle */
}

@font-face {
  font-family: "Poppins";
  font-weight: normal;
  src: url("../fonts/Poppins/Poppins-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url("../fonts/Poppins/Poppins-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url("../fonts/Poppins/Poppins-Bold.otf") format("opentype");
}
.yetix--css-txt--center {
  text-align: center;
}
.yetix--css-d--block {
  display: block;
}
.yetix--css-has-bgcolor {
  display: inline-block;
  padding: 0.375em;
  border-radius: 0.375em;
  color: var(--yetix--color--black);
  background-color: var(--yetix--helper--color--grey);
}
.yetix--css-bgcolor--green {
  background-color: var(--yetix--helper--color--green) !important;
  color: var(--yetix--color--white) !important;
}
.yetix--css-bgcolor--orange {
  background-color: var(--yetix--helper--color--orange) !important;
  color: var(--yetix--color--white) !important;
}
.yetix--css-bgcolor--red {
  background-color: var(--yetix--helper--color--red) !important;
  color: var(--yetix--color--white) !important;
}
.yetix--css-bgcolor--blue {
  background-color: var(--yetix--helper--color--blue) !important;
  color: var(--yetix--color--white) !important;
}
.yetix--ticket-state--new {
  background-color: var(--yetix--helper--color--green) !important;
  color: var(--yetix--color--white) !important;
}
.yetix--ticket-state--open {
  background-color: var(--yetix--helper--color--red) !important;
  color: var(--yetix--color--white) !important;
}
.yetix--ticket-state--pending {
  background-color: var(--yetix--helper--color--blue) !important;
  color: var(--yetix--color--white) !important;
}
.yetix--ticket-state--solved {
  background-color: var(--yetix--helper--color--green) !important;
  color: var(--yetix--color--white) !important;
}
.yetix--ticket-state--incident {
  background-color: var(--yetix--helper--color--red) !important;
  color: var(--yetix--color--white) !important;
}
/*
 *
 *
 *
 *
 */
.wp-block-yetix-requestform {
  /* general */
  /* heading */
  /* _ */
  /* dropdown */
  /* input */
  /* checkbox */
  /* button */
  /* toggle */
  /* _ */
}
.wp-block-yetix-requestform, .wp-block-yetix-requestform textarea {
  font-size: var(--yetix--sui--font--size);
}
.wp-block-yetix-requestform h1, .wp-block-yetix-requestform h2, .wp-block-yetix-requestform h3, .wp-block-yetix-requestform h4, .wp-block-yetix-requestform h5 {
  margin: calc(var(--yetix--sui--font--size) * 2 - 0.1428571429em) 0 var(--yetix--sui--font--size);
}
.wp-block-yetix-requestform h1, .wp-block-yetix-requestform .h1-like {
  font-size: calc(2 * var(--yetix--sui--font--size));
}
.wp-block-yetix-requestform h2, .wp-block-yetix-requestform .h2-like {
  font-size: calc(1.71428571 * var(--yetix--sui--font--size));
}
.wp-block-yetix-requestform h3, .wp-block-yetix-requestform .h3-like {
  font-size: calc(1.28571429 * var(--yetix--sui--font--size));
}
.wp-block-yetix-requestform h4, .wp-block-yetix-requestform .h4-like {
  font-size: calc(1.07142857 * var(--yetix--sui--font--size));
}
.wp-block-yetix-requestform .ui.feed,
.wp-block-yetix-requestform .ui.form,
.wp-block-yetix-requestform .ui.progress {
  font-size: var(--yetix--sui--font--size);
}
.wp-block-yetix-requestform select, .wp-block-yetix-requestform option,
.wp-block-yetix-requestform .ui.form .field .dropdown,
.wp-block-yetix-requestform .ui.form .field .dropdown .menu > .item {
  font-size: var(--yetix--sui--dropdown--font--size);
}
.wp-block-yetix-requestform .ui.form input,
.wp-block-yetix-requestform .ui.form input:not([type]),
.wp-block-yetix-requestform .ui.form input[type=date],
.wp-block-yetix-requestform .ui.form input[type=datetime-local],
.wp-block-yetix-requestform .ui.form input[type=email],
.wp-block-yetix-requestform .ui.form input[type=file],
.wp-block-yetix-requestform .ui.form input[type=number],
.wp-block-yetix-requestform .ui.form input[type=password],
.wp-block-yetix-requestform .ui.form input[type=search],
.wp-block-yetix-requestform .ui.form input[type=tel],
.wp-block-yetix-requestform .ui.form input[type=text],
.wp-block-yetix-requestform .ui.form input[type=time],
.wp-block-yetix-requestform .ui.form input[type=url] {
  font-size: var(--yetix--sui--input--font--size);
  border-radius: 0.375em;
}
.wp-block-yetix-requestform .ui.form input:hover, .wp-block-yetix-requestform .ui.form input:focus, .wp-block-yetix-requestform .ui.form input:active,
.wp-block-yetix-requestform .ui.form input:not([type]):hover,
.wp-block-yetix-requestform .ui.form input:not([type]):focus,
.wp-block-yetix-requestform .ui.form input:not([type]):active,
.wp-block-yetix-requestform .ui.form input[type=date]:hover,
.wp-block-yetix-requestform .ui.form input[type=date]:focus,
.wp-block-yetix-requestform .ui.form input[type=date]:active,
.wp-block-yetix-requestform .ui.form input[type=datetime-local]:hover,
.wp-block-yetix-requestform .ui.form input[type=datetime-local]:focus,
.wp-block-yetix-requestform .ui.form input[type=datetime-local]:active,
.wp-block-yetix-requestform .ui.form input[type=email]:hover,
.wp-block-yetix-requestform .ui.form input[type=email]:focus,
.wp-block-yetix-requestform .ui.form input[type=email]:active,
.wp-block-yetix-requestform .ui.form input[type=file]:hover,
.wp-block-yetix-requestform .ui.form input[type=file]:focus,
.wp-block-yetix-requestform .ui.form input[type=file]:active,
.wp-block-yetix-requestform .ui.form input[type=number]:hover,
.wp-block-yetix-requestform .ui.form input[type=number]:focus,
.wp-block-yetix-requestform .ui.form input[type=number]:active,
.wp-block-yetix-requestform .ui.form input[type=password]:hover,
.wp-block-yetix-requestform .ui.form input[type=password]:focus,
.wp-block-yetix-requestform .ui.form input[type=password]:active,
.wp-block-yetix-requestform .ui.form input[type=search]:hover,
.wp-block-yetix-requestform .ui.form input[type=search]:focus,
.wp-block-yetix-requestform .ui.form input[type=search]:active,
.wp-block-yetix-requestform .ui.form input[type=tel]:hover,
.wp-block-yetix-requestform .ui.form input[type=tel]:focus,
.wp-block-yetix-requestform .ui.form input[type=tel]:active,
.wp-block-yetix-requestform .ui.form input[type=text]:hover,
.wp-block-yetix-requestform .ui.form input[type=text]:focus,
.wp-block-yetix-requestform .ui.form input[type=text]:active,
.wp-block-yetix-requestform .ui.form input[type=time]:hover,
.wp-block-yetix-requestform .ui.form input[type=time]:focus,
.wp-block-yetix-requestform .ui.form input[type=time]:active,
.wp-block-yetix-requestform .ui.form input[type=url]:hover,
.wp-block-yetix-requestform .ui.form input[type=url]:focus,
.wp-block-yetix-requestform .ui.form input[type=url]:active {
  /* border-color: var( --yetix--color--grey ); */
  border-color: #22242659;
}
.wp-block-yetix-requestform .ui.form input[type=checkbox] {
  display: inline-block;
  vertical-align: middle;
  top: 0;
  width: calc(1.5 * var(--yetix--sui--font--size));
  min-width: calc(1.5 * var(--yetix--sui--font--size));
  height: calc(1.5 * var(--yetix--sui--font--size));
  margin-right: calc(0.5 * var(--yetix--sui--font--size));
}
.wp-block-yetix-requestform .ui.form input[type=checkbox] + label {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}
.wp-block-yetix-requestform .ui.form input:not([type]):focus,
.wp-block-yetix-requestform .ui.form input[type=date]:focus,
.wp-block-yetix-requestform .ui.form input[type=datetime-local]:focus,
.wp-block-yetix-requestform .ui.form input[type=email]:focus,
.wp-block-yetix-requestform .ui.form input[type=file]:focus,
.wp-block-yetix-requestform .ui.form input[type=number]:focus,
.wp-block-yetix-requestform .ui.form input[type=password]:focus,
.wp-block-yetix-requestform .ui.form input[type=search]:focus,
.wp-block-yetix-requestform .ui.form input[type=tel]:focus,
.wp-block-yetix-requestform .ui.form input[type=text]:focus,
.wp-block-yetix-requestform .ui.form input[type=time]:focus,
.wp-block-yetix-requestform .ui.form input[type=url]:focus {
  border-radius: 0.375em;
}
.wp-block-yetix-requestform .ui.action.input > .button:last-child,
.wp-block-yetix-requestform .ui.action.input > .buttons:last-child > .button,
.wp-block-yetix-requestform .ui.action.input > .dropdown:last-child {
  border-radius: 0 0.375em 0.375em 0;
}
.wp-block-yetix-requestform button,
.wp-block-yetix-requestform .ui.button,
.wp-block-yetix-requestform .ui.buttons .button,
.wp-block-yetix-requestform .ui.buttons .or {
  font-size: var(--yetix--sui--button--font--size);
  border-radius: 0.375em;
}
.wp-block-yetix-requestform .ui.buttons .button {
  border-radius: 0;
}
.wp-block-yetix-requestform .ui.toggle.checkbox input,
.wp-block-yetix-requestform .ui.toggle.checkbox label::before {
  width: calc(3.5 * var(--yetix--sui--toggle--font--size));
  height: calc(1.5 * var(--yetix--sui--toggle--font--size));
}
.wp-block-yetix-requestform .ui.toggle.checkbox input ~ label::after {
  left: calc(-0.05 * var(--yetix--sui--toggle--font--size));
}
.wp-block-yetix-requestform .ui.toggle.checkbox input:checked ~ label::after {
  left: 2.15rem;
  left: calc(2.15 * var(--yetix--sui--toggle--font--size));
}
.wp-block-yetix-requestform .ui.toggle.checkbox label {
  min-height: calc(1.5 * var(--yetix--sui--toggle--font--size));
  padding-left: calc(4.5 * var(--yetix--sui--toggle--font--size));
}
.wp-block-yetix-requestform .ui.toggle.checkbox label::after {
  width: calc(1.5 * var(--yetix--sui--toggle--font--size));
  height: calc(1.5 * var(--yetix--sui--toggle--font--size));
}
.wp-block-yetix-requestform .yetix-progress {
  display: none;
  margin-bottom: 1em;
}
.wp-block-yetix-requestform .yetix-requestform-inputfile {
  display: none;
}
.wp-block-yetix-requestform #requestform_description,
.wp-block-yetix-requestform #requestform_description * {
  font-size: var(--yetix--sui--input--font--size) !important;
  line-height: 1.21428571em !important;
}
.wp-block-yetix-requestform > .form .ui.progress .bar > .progress {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}
.wp-block-yetix-requestform > .form .file-list .item .inner {
  display: flex;
  margin-top: 1em;
}
.wp-block-yetix-requestform > .form .file-list .item .inner .content {
  flex-grow: 1;
  align-self: center;
}
.wp-block-yetix-requestform > .form #requestform_description, .wp-block-yetix-requestform > .form textarea {
  min-height: 7em;
}

/* prevent button background-color problem; ex : twentytwenty */
.mce-panel {
  --yetix--block--form--field--editor--background-color: #ffffff ;
  background-color: var(--yetix--block--form--field--editor--background-color) !important;
}
.mce-panel .mce-container-body button {
  color: #595959 !important;
  background-color: var(--yetix--block--form--field--editor--background-color) !important;
}
.mce-panel .mce-btn.mce-active button,
.mce-panel .mce-btn.mce-active:hover button,
.mce-panel .mce-btn.mce-active i,
.mce-panel .mce-btn.mce-active:hover i {
  background-color: #595959 !important;
  color: var(--yetix--block--form--field--editor--background-color) !important;
}
/*# sourceMappingURL=requestform_style-editor.css.map */
